.whiteBg {
  background-color: #FFFFFF;
}

.greenText {
  color: #00AB84;
}

.fixCard {
  padding-top: 0px !important;
}

.fixBadge {
  padding: 0px !important;
  margin-bottom: 0px !important;
  color: #00AB84 !important;
}

.fixBadge2 {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.flexContainer {
  display: flex;
  justify-content: flex-end;
}