.greenBtn {
  background-color: #00AB84 !important;
  color: white !important;
  border-color: #00AB84 !important;
}
.greenBtn:hover {
  background-color: #008675 !important;
}

.text180 {
  font-size: 180%;
}

.greenLink {
  color: #00AB84;
}
.greenLink:hover {
  color: #008675;
}

.grayColor {
  color: #4B4F54
}

.marginHome {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.marginBtn {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.marginBetween {
  margin-top: 1rem;
}


.betterText {
  text-indent: 30px;
  text-align: justify;
  text-justify: inter-word;
}