.modBtn {
  width: 3.5em;
  height: 3.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.boardBtn {
  width: 70%;
  height: 3.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

@media (min-width: 768px) {
  .boardBtn {
    width: 34rem;
  }
}

.greenText {
  color: #00AB84;
}

.darkGreenBg {
  background-color: #00AB84 !important;
}
.darkGreenBg:hover {
  background-color: #008675 !important;
}

.marginTop {
  margin-top: 2em;
}