.modBtn {
  width: 4em;
  height: 3.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  color: white !important;
}

.boardBtn {
  width: 45%;
  height: 3.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.greenText {
  color: #00AB84;
}

.darkGreenBg {
  background-color: #00AB84 !important;
}
.darkGreenBg:hover {
  background-color: #008675 !important;
}

.marginBottom {
  margin-bottom: 1em;
}