.bg-color {
  background-color: #F3F6FB;
}

.button-color {
  background-color: #00AB84 !important;
  color: white !important;
}
.button-color:hover {
  background-color: #00785C !important;
}

.text-color {
  color: #00AB84;
}

.link-color {
  color: #00AB84;
}
.link-color:hover {
  color: #00785C;
}

.navbar-color {
  background-color: #00AB84;
}

.margin-home {
  margin-bottom: 2em;
}

.margin-home2 {
  margin-top: 2em;
}

.margin-home3 {
  margin-top: 2.5em;
}

.mod-button {
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.board-button {
  width: 45%;
  height: 3.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.delete-button {
  width: 4em;
  height: 3.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  color: white !important;
}

.list-button {
  height: 33px;
  padding-top: 5px !important;
  margin-top: 0.25em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  color: white !important;
}

.small-card {
  width: 50%;
  margin: auto;
}

.medium-card {
  width: 65%;
  margin: auto;
}

.button-margin {
  margin-bottom: 1.5em;
}

.margin-t-b {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}