.margin-teeth {
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.margin-t-b {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.marginForNavbar {
  margin-top: 72px;
}

.centerText {
  text-align: center;
}